// ==========================================================================
// Extends
// Placeholders used for the module partials are defined here.
// Example:
// %input {border: 0; border-bottom: 1px solid black;}
// The placeholder defined may be used in "_forms.scss" as:
// input__material--left {@extend %input; float: left;
//   .input__material--right {@extend %input; float: right;}
// }
// ==========================================================================

/*.hero { 	
	@extend .jumbotron;
	@extend .jumbotron-fluid;
		h1{
			@extend .display-4;
		}
		p{
			@extend .lead;
		}
}

.form {
  .form__field { @extend .form-group;
    .form__input,
	 .form__select
	  { @extend .form-control; }

    &.form__checkbox { @extend .form-check; 
		input[type="checkbox"] {
		@extend .form-check-input;
		}
		label {
		@extend .form-check-label;
		}
	  }
  }
}*/