// ==========================================================================
// Config
// Define variables, maps and fonts at this partial.
// ==========================================================================

//Enter your Web Address here for print media
$domain-name: "www.domain-name.com";

//Text
$base__font-size: 1rem;
$base__line: $base__font-size * 1.5;

//Font Stacks

//$font-url--google : abc;

// $typefaces
// Configuration of webfonts imports.
// $typefaces - {map}
// @family - {string}
// @weight - {integer} or {keyword} i.e. 800, bold
// @style - {keyword} i.e. normal, italic

//$typefaces: (
//  'FILENAME': (
//    family: 'fontname',
//    weight: 100,
//    style: normal,
//  ),
//);

$font-family-sans-fallback: 'Arial', sans-serif;
$font-family-sans: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', $font-family-sans-fallback;
$font-family-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-family-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier', monospace;
$font-family--primary : $font-family-sans;
$font-family--secondary : $font-family-sans;

//Colors
$white: #fff;
$black: #000;
$gray: #ccc;
$red: #D24D57;
$blue: #3A539B;
$yellow: #F26429;
$green: #63bc46;
$light: #eee;
$dark: #222;
$star: #f4db31;

//Message Colors
$error: lighten($red,5%) !default;
$success: $green !default;
$edit: $yellow !default;


$theme-colors: (
  "primary": $green,
  "dark": $dark,
	"star": $star,
);

//Breakpoints
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;


//Color Palette
$palettes: (
	gray-shades: (
	  base: $gray,
	  dark: darken($gray,20%),
	  light: lighten($gray,20%)
	),
	blue-shades: (
		base: $blue,
	  dark: darken($blue,20%),
	  light: lighten($blue,20%)
	)
);


//Font size variables
$default-font-size: $base__font-size;
$small-font-size: $default-font-size - .25rem;
$lg-font-size: $default-font-size + .25rem;

//Heading font size vairables
$heading-line-height: $base__line * 2 !default;
$head1-font-size: $default-font-size * 2.5 !default;
$head2-font-size: $head1-font-size * 2 !default;
$head3-font-size: $head1-font-size * 1.5 !default;

//Color Usage
$primary-color: $white;
$secondary-color: $black;
$accent-color: $gray;
$shadow-color: rgba($black, .2);
$border-color: $gray;
$color-text: $black;
$color-link: $green;
$link-hover-color: darken($color-link, 15%) !default;

//Path to Assets
$path--rel: "../images";
