// ==========================================================================
// Base
// A Base rule is applied to HTML element using an element selector, a
// descendent selector, or a child selector, along with any pseudo-classes.
// We cannot reference any element defined here by their respective class or ID name.
// This defines the default styling for how that element should look.
// Changes in style other than default should be overwritten using other partials.
// ==========================================================================

// Reset CSS
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Base Code
html, body{
	font-size: 56.0%;
}
body{
	-webkit-font-smoothing: antialiased;
	color: $color-text;
	font-family: $font-family--primary;
	text-rendering: optimizeLegibility;
}
a{
	outline: none;
	color: $color-link;
	text-decoration: none;
	transition: color .2s;
}
a, span, strong {
	&:after{
		@extend %clearfix-none;
	}
}
ul{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-family: $font-family--primary;
	margin: 0;
	margin-bottom: 1rem;
}
h1 { @include font-size(3.6); }         // 48px
h2 { @include font-size(2.4); }         // 36px
h3 { @include font-size(2.0); }         // 24px
h4 { @include font-size(1.8); }         // 18px
h5 { @include font-size(1.6); }         // 16px
h6 { @include font-size(1.4); }         // 14px
p, ul, ol{
  @include font-size(1.6);	
		line-height: 2em;
}
p{
	margin-bottom: 2rem;
}
img{
	max-width: 100%;
	vertical-align: top;
	
}
@media (min-width: 768px) { html { font-size: 56.3%; } } // 56.3% = 9px
@media (min-width: 992px) { html { font-size: 62.5%; } } // 62.5% = 10px
@media (min-width: 1200px) { html { font-size: 68.8%; } } // 68.8% = 11px