// ==========================================================================
// Footer
// ==========================================================================
.footer {
    
     padding: 50px 0 96px;
	
     &__copyright { 
		  text-align: center;
         margin-top: 16px;
         padding: 16px 16px 0;
         & p {
             margin: 12px 0;
			  @include font-size(1.4);
             & em {
                 font-style: normal;
                 color: #f26429;
				 
				 &::after{
					 display:inline;
				 }
            }
        }
    }
}
.body {
	&--dark{
		.footer{
			background-color: #1B1F21;
			color: #c4c4c4;
			&__copyright {
				border-top: solid 1px #2b2b2b;
		}
	}
	}
	&--light{
		.footer{
			background-color: #fff;
			color: #222;
				&__copyright {
				border-top: solid 1px #EEE;
		}
		}
	}
}