// ==========================================================================
// Header
// ==========================================================================

.header {
     width: 100%;
     z-index: 1039;
	padding: 25px 0 0 0;
	
	&--absolute{
		position:absolute;
	}
	&--fixed{
		position:fixed;
	}
	&--collapsed{
		padding:0;
	}
     &__logo{
         opacity: 1;
         transition: 500ms;
         margin: 8.640px 0 8.640px 8.640px;
         background-position: left center;
         float: left;
         overflow: hidden;
         text-indent: -624em;
         white-space: nowrap;
         background-size: contain;
         background-repeat: no-repeat;
         width: 192.95px;
         height: 43.19px;
         &:hover {
             opacity:.8;
        }
    }
}

.body{
	&--dark{
		.header{
			&--background{
				background: rgba(27, 31, 33, 0.95);
				box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
				
			}
			&__logo{
					background-image: url('https://ensurem.com/wp-content/themes/ensurem/assets/logos/ensurem-logo-white.svg');
				}
		}
	}
	&--light{
		.header{
			&--background{
				background: #fff;
				box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
				
			}
			&__logo{
					background-image: url('https://ensurem.com/wp-content/themes/ensurem/assets/logos/ensurem-logo-dark.svg');
				}
		}
	}
}
