// ==========================================================================
// Main
// ==========================================================================
.main{
	background:#fff;
	min-height:100vh;
	&--fixed-header{
		padding-top:60px;
	}
	ol{
		@include font-size(1.8);
		@extend .ml-5;
	}
}