// ==========================================================================
// Section
// ==========================================================================

.section { 
	
	&__content{
		padding: 5em 0;
	}
	&--disclaimer{
		p { @include font-size(1.4); }  
	}

}
