// ========================================================================== 
// Apply
// ==========================================================================

.apply{
	@extend .text-center;
	
	img{
		max-width:300px;
		margin: 60px 0;
	}
}

