// ==========================================================================
// Back to Top button
// ==========================================================================

.back-to-top {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.back-to-top::after {
  content: "\f106";
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
.back-to-top:hover {
  cursor: pointer;
}
.back-to-top.show {
  opacity: 1;
  visibility: visible;
}
