// ==========================================================================
// Forms
// ==========================================================================

.form, .hs-form {
     @extend .my-5;
         text-align:left;
         label{
             display:block;
             padding-left: 1em;
             font-weight:bold;
             width: auto;
             @include font-size(1.6);
        }
     input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], input[type="file"], textarea, select {
         padding: 0.75em 1.75em;
         font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
         font-size: 16px;
         box-shadow: none;
         border-radius: 2.5em;
         border: solid .0625em #D4D3D3;
         color: #222;
         transition: 300ms;
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         background-color: #fff;
         width: 100%;
         box-sizing: border-box;
         outline:none;
         margin:10px 0;
         display:block;
         line-height: 1.5em !important;
    }
     input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"], input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover, input[type="file"]:hover, textarea:hover, select:hover{
         border: solid .0625em #63bc46;
         outline: none;
         -webkit-appearance: none;
         -webkit-appearance--moz-appearance: none;
         -webkit-appearance-appearance: none;
    }
     input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, input[type="file"]:focus, textarea:focus, select:focus {
         border: solid .0625em #63bc46;
         box-shadow: 0 0 0.125em #488933;
         -webkit-appearance: none;
         -webkit-appearance--moz-appearance: none;
         -webkit-appearance-appearance: none;
    }
     input[type="submit"]{
         @extend .btn;
         @extend .btn--primary;
         @extend .btn--lg;
		 @extend .btn--block;
		 @extend .my-4;
    }
	&__field{
		@extend .my-3;
		@extend .mx-1;
	}
	 &__radio-field {
         @extend .custom-control;
         @extend .custom-radio;
         @extend .my-3;
         
    }
     &__radio-fieldset {
         @extend .my-5;
    }
     &__check-field {
         @extend .custom-control;
         @extend .custom-checkbox;
         @extend .mb-5;
        
    }
     &__radio-field--inline {
         @extend .custom-control;
         @extend .custom-radio;
         @extend .custom-control-inline;
         @extend .mb-3;
        
    }
     &__radio-label, &__check-label {
         @extend .custom-control-label;
         @extend .font-weight-bold;
         @extend .mr-3;
         padding-left: $custom-control-gutter + 0.25;
         // Background-color and (when enabled) gradient 
		 &::before {
             width: $custom-control-indicator-size + 1;
             height: $custom-control-indicator-size + 1;
        }
         // Foreground (icon) 
		 &::after {
             width: $custom-control-indicator-size + 1;
             height: $custom-control-indicator-size + 1;
        }
    }
     &__radio-input, &__check-input {
         @extend .custom-control-input;
    }
}

