// ==========================================================================
// Icons
// ==========================================================================

.icon {
	@extend .fal;
	&--large{
	@extend .fa-2x;	
	}
    }

@each $color, $value in $theme-colors {
  .icon--#{$color} {
    color: $color;
  }
}
