// ========================================================================== 
// Quote Results
// ==========================================================================

.results{
     &__filter{
         @include font-size(1.6);
		 @extend .d-flex; 
			 @extend .align-items-center;
			 @extend .my-3;
		  @extend .flex-wrap;
         &-label{
             @extend .font-weight-bold;
        }
    }
	&__sort{
		@extend .ml-auto;
		@extend .d-flex;
		@extend .align-items-center;
	}
			&__badge{
			@extend .badge;
			@extend .badge-pill;
			@extend .badge-dark;
		}
	&__snp{
		@extend .mr-auto;

	}
	&__check-field{
		@extend .custom-control;
		@extend .custom-checkbox; 
		padding-left: 2.5rem;
	}
	&__check-input{
		@extend .custom-control-input;
	}
	&__check-label{
		@extend .custom-control-label;
		@extend .font-weight-bold;
				@extend .mr-4;
		&::before, &::after{
			width: 2rem;
			height: 2rem;
		}
		&::before{
 @extend .border;
			background-color: #fff;
		}
	}
	&__select{
		@extend .custom-select;
		height: calc(3.25rem + 2px);
	}
	&__carrier{
		@extend .mr-auto;
		&-logo{
		@extend .p-4;
		img{
			width: 150px;
			height:50px;
		}
	}
		}
     &__rating{
         @extend .p-3;
         &-star--fill{
             @extend .text-star;
             @extend .fas;
             @extend .fa-4x;
             @extend .fa-star;
        }
		   &-star--half{
             @extend .text-star;
             @extend .fas;
             @extend .fa-4x;
             @extend .fa-star-half;
        }
         &-star--empty{
             @extend .text-light;
             @extend .fas;
             @extend .fa-4x;
             @extend .fa-star;
        }
    }
	 &__yes{
			 @extend .text-primary;
             @extend .fas;
             @include font-size(3.6);
             @extend .fa-check-circle;
		 @extend .mb-2;
		 }
	 &__no{
			 @extend .text-danger;
             @extend .fas;
             @include font-size(3.6);
             @extend .fa-times-circle;
		 @extend .mb-2;
		 }
	&__cost{
	
		@extend .p-1; 
		@extend .ml-auto;

	}
     &__plan{
		 box-shadow: 0 1px 35px 0 rgba(0,0,0,0.15);
		@include mq(lg){
					 overflow-x:scroll;
	}
		 &-top{
			  @extend .border-bottom;
			  @extend .border-light;
			 height:360px;
			 position:relative;
			 &-inner{
				 @extend .align-items-center;
				 @extend .p-4; 
			 }
		 }
		 &-group{
			 &-inner{
				 @extend .d-lg-flex; 
			 }
		 }
		 	 &-giveback{
				 position:absolute;
				 bottom:0;
				 width:100%;
			 @extend .bg-primary;
			 @extend .p-3;
			 
			 h4{
				 @extend .text-white;
				 @extend .mb-0;
			 }
		 }
		 &-name{
			 @include mq(lg){
				 display:flex;
			min-height: 95px;
			 }
			 @extend .align-items-center;
			 @extend .justify-content-center;
			 @extend .bg-dark;
			 @extend .p-3;
			 
			 h2{
				 @extend .text-white;
				 @extend .mb-0;
			 }
		 }
		 &-benefit{
			@extend .flex-grow-1;
			 @extend .p-2;
			 
			 &:nth-child(even) {background: #fff}
			&:nth-child(odd) {background: #f6f8f9}
		 }
		  &-col{
			  @extend .bg-white;
				@extend .flex-column;
				 @extend .flex-grow-1;
				 @extend .border-right;
			flex-basis: 0;
			  @extend .text-center;
			  
			  &:last-child{
				  @extend .border-0;
			  }
			  	 h2{
			  @include font-size(1.4);
		 }
		  h3{
			  @include font-size(3.6);
			  @extend .mb-0;
		 }
		  h4{
			  @include font-size(1.6);
		 }
			   h5{
			  @include font-size(2.4);
		 }
			 }
	
    }

	&__btn{
		@extend .btn;
		@extend .btn--primary;
	
	}
	&__county{
		@extend .p-5;
	}
}
#left-button{
		i{
			@extend .fas;
			@extend .fa-chevron-left;
		}
}
#right-button{
		i{
			@extend .fas;
			@extend .fa-chevron-right;
		}
}
.phone{
	 @include font-size(3.6);
	@extend .mt-0;
	&:before{
		@extend .fas;
			@extend .fa-phone;
		@extend .fa-flip-horizontal;
		@include font-size(2.4);
	}
}
