// ==========================================================================
// Media Queries
// ==========================================================================

@media (max-width: 991px) {
	.mobile-flex{
		display:flex;
		overflow: auto;
overflow-y: hidden;
	}
	
	     .results__plan{
			  box-shadow: 0 0 0 0 rgba(0,0,0,0);
		 &-top{
			 height:170px;
			 
		 }
			 &-col{
				border-right: 0 !important;
				  box-shadow: 0 1px 35px 0 rgba(0,0,0,0.15);
				 margin-bottom: 20px;
			 }
	}
}
 

@media (max-width: 767px) {
.header {
	&__logo{
		margin: 7.200px 0 7.200px 7.200px;
width: 160.797px;
height: 36px;
		&--aetna-cobrand{
			width: 261px !important;
height: 31px !important;
		}
	}
	
} 
	.parallax {
        background-attachment: scroll;
    }
	
	.section { 
	
	&__content{
		padding: 4em 0;
	}

}
	
	.circle-img {
		max-width:220px;
	}
}